html {
    box-sizing:border-box;
}

*,
*:before,
*:after {
    box-sizing:inherit;
}




body {
    margin: 0;
    padding: auto;
    width: 100%;
    height: 100%;
}

h2 {
    margin: 1em;
    padding: 0px;
    font-family: 'Cinzel', serif;
    font-weight: 700;
    color:#98BEAD;
    font-size: 1.5em;
    text-align: center;
}

h3 {
    margin: 1em;
    padding: 0px;
    font-family: 'Cinzel', serif;
    font-weight: 400;
    color:#999999;
    font-size: 1.5em;
    text-align: center;

}

p {
    margin: 2em;
    padding: 0px;
    font-family: 'Pontano Sans', sans-serif;
    color:#999999;
    font-size: 1em;
    text-align: justify;
}

a {
    color:#98BEAD;
    margin: 1em;
    padding: 0px;
    font-family: 'Cinzel', serif;
    font-weight: 400;

}



/* header */

#header {
    width: 100%;
    margin: auto;
}

#header img {
    width: 100%;
    margin: auto;
    padding: 0px 0px;
}

ul .thisone {
    display:inline;
    text-align: center;
    list-style: none;
    line-height: normal;
    width: 100%;
}


ul .pattern {
    display:inline;
    text-align: center;
    list-style: none;
    line-height: normal;
    width: 100%;
}

ul .food {
    display:inline;
    list-style: none;
    line-height: normal;
    width: 100%;
    top: 50%;
    left: 50%;
}

@media all and (min-width: 500px) {
    ul .thisone {
        width: 30%;
        display: inline;
        text-align: center;
    }

     ul .pattern {
        width: 30%;
        display: inline;
        text-align: center;
    }

      ul .food {
        width: 30%;
        display: inline;
        text-align: center;
    }

}

@media all and (min-width: 900px) {
    ul .thisone {
        width: 50%;
        display: inline;
    }

     ul .pattern {
        width: 50%;
        display: inline;
    }

      ul .food {
        width: 50%;
        display: inline;
    }

}

@media all and (min-width: 1200px) {
    ul .thisone {
        width: 40%;
        display: inline;
        padding: 2em;
    }

     ul .pattern {
        width: 40%;
        display: inline;
    }

      ul .food {
        width: 40%;
        display: inline;
    }

}

/* button */
.button {
    padding: .5em;
    margin-top: 3em;
    text-align: center;
    background: #98BEAD;
    color: #FFFFFF;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.button:hover {
    text-decoration: none;
    background: #757575;
    color: #fff;
}


/* footer */

#footer {
    width: 100%;
    margin: auto;
}

#footer img {
    width: 100%;
    margin: auto;
    padding: 0px 0px;
}

.site-container {
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
    padding: .5em;
}
